.main {

    img {
        width: 100%;
        object-fit: cover;
    }

    .main-text {
        object-fit: cover;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 480px;

        h1 {
            font-size: 3.5rem;
            width: 55%;
            text-align: center;
            position: relative;
            color: white;
            font-weight: 200;
            top: -70px;
        }

        .main-btn {
            background: #C79288;
            color: white;
            padding: 20px 30px;
            position: relative;
            top: -40px;
        }
    }
}